<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="http://127.0.0.1:8000">back</a>

<h1>Create an Account </h1>
<form action="" method="POST">
balance: <input type="text" name="balance"><br/>
currency:
<input type="radio" id="KZT" name="drone" value="KZT" checked>
<label for="KZT">KZT</label>
<input type="radio" id="USD" name="drone" value="USD" checked>
<label for="USD">USD</label>
<input type="radio" id="EUR" name="drone" value="EUR" checked>
<label for="EUR">EUR</label>
<input type="submit" value="Create"/>
</form>
</body>
</html>